__pycache__/
scripts/
stashed/
playground*.ipynb
*.swp
*.gif
*.pdf
data/
checkpoints/
*.png
wandb
*.csv
*.pkl
pretrained_gpt_checkpoints/
tmp/
log-ood-detection-laplace/
log-ood-detection/
*/__pycache__
*.pyc